#tubemap {
    position: relative;
}

.station-button {
    background-color: transparent;
    background-image: url('unselected-button.png');
    border-style: none;
    height: 20px;
    width: 20px;
}
.station-button-on {
    background-image: url('selected-button.png');
}
